

<table class="table table-striped table_front table-list-search" id="example">
                  <thead class="tbl-header">
                    <tr>
                    <th>Supplier</th>
                      <th>Claim Number</th>
                      <th class="text-center">Claim Date</th>
                      <th class="text-right">Total Quantity</th>
                      <th class="text-right">Claim Amount</th>
                      <th class="text-right">Settled Amount</th>
                     <th>Claim Type</th>
                      <th class="text-center">View Claim</th>
                                            
                    </tr>
                  </thead>
                  <tbody class="scroll">

                  
                  
                    <%@report.map do |i|%>
                      <% if i["claim_product_type"]=="PurchaseReturn"%>
                      <tr>
                          <%if i["claim_product"].present?%>
                              <td><%=i["claim_product"]["supplier"]["supplier_name"]%></td>
                              <td><%=i["claim_product"]["claim_no"]%></td>
                              <td class="text-center"><%=i["claim_product"]["claim_date"].to_date.strftime("%d-%m-%Y") if i["claim_product"]["claim_date"].present?%></td>
                              <td class="text-right"><%=i["claim_product"]["quantity"]%></td>
                              <td class="text-right"><%=i["claim_product"]["claim_amount"].to_f.round(2)%></td>
                              <td class="text-right"><%=i["claim_product"]["settled_amount"].to_f.round(2)%></td>
                              <td>Purchase Return</td>
                              
                              <td><%=link_to "Preview",sendmails_adjustment_details_path(id:i["claim_product"]["id"]) ,class: "btn btn-link btn_pad"%></td>
                    </tr>
					               <%end%>

                      <% elsif i["claim_product_type"]=="ExpiryDamage"%>
                      <tr>

                            <%if i["claim_product"].present?%>
                              <td><%=i["claim_product"]["supplier"]["supplier_name"]%></td>
                              <td><%=i["claim_product"]["claim_no"]%></td>
                              <td class="text-center"><%=i["claim_product"]["ack_date"].to_date.strftime("%d-%m-%Y") if i["claim_product"]["ack_date"].present?%></td>
                              <td class="text-right"><%=i["claim_product"]["quantity"]%></td>
                              <td class="text-right"><%=i["claim_product"]["claim_amount"].to_f.round(2)%></td>
                              <td class="text-right"><%=i["claim_product"]["settled_amount"].to_f.round(2)%></td>
                              <td>ExpiryDamage</td>
                               <td><%=link_to "Preview",sendmails_adjustment_details_path(id:i["claim_product"]["id"]) ,class: "btn btn-link btn_pad"%></td>

                        </tr>
					            <%end%>


                      <%elsif i["claim_product_type"]=="FreeDiscount"%>
                            <tr>
                            <%if i["claim_product"].present?%>
                              <td><%=i["claim_product"]["supplier"]["supplier_name"]%></td>
                              <td><%=i["claim_product"]["claim_no"]%></td>
                              <td class="text-center"><%=i["claim_product"]["ack_date"].to_date.strftime("%d-%m-%Y") if i["claim_product"]["ack_date"].present?%></td>
                              <td class="text-right"><%=i["claim_product"]["total_quantity"]%></td>
                              <td class="text-right"><%=i["claim_product"]["claim_amount"].to_f.round(2)%></td>
                              <td class="text-right"><%=i["claim_product"]["settled_amount"].to_f.round(2)%></td>
                              <td>FreeDiscount</td>
                              <td><%=link_to "Preview",sendmails_adjustment_details_path(id:i["claim_product"]["id"]) ,class: "btn btn-link btn_pad"%></td>
                            </tr>

                      <%end%>

                      <% elsif i["claim_product_type"]=="RateChange"%>
                            <tr>
                            <%if i["claim_product"].present?%>
                              <td><%=i["claim_product"]["supplier"]["supplier_name"]%></td>
                              <td><%=i["claim_product"]["claim_no"]%></td>
                              <td class="text-center"><%=i["claim_product"]["ack_date"].to_date.strftime("%d-%m-%Y") if i["claim_product"]["ack_date"].present?%></td>
                              <td class="text-right"><%=i["claim_product"]["total_quantity"]%></td>
                              <td class="text-right"><%=i["claim_product"]["claim_amount"].to_f.round(2)%></td>
                              <td class="text-right"><%=i["claim_product"]["settled_amount"].to_f.round(2)%></td>
                              <td>RateChange</td>
                              <td>
                              <%=link_to "Preview",sendmails_adjustment_details_path(id:i["claim_product"]["id"]) ,class: "btn btn-link btn_pad"%></td>
                            </tr>

                            <%end%>
                      <%else%>
                      <h3> No Data Found</h3>
                      
                      <%end%>
          <%end%>

                     </tbody>
                </table>
            




            <script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          bSort:true,
          buttons: [
              'excelHtml5',
              'pdfHtml5',
              'print'
          ]
          
      } );
  } );

  </script>


<script type="text/javascript">
  $(document).ready(function(){
    $("input[type=search]").focus();
  });

  $(document).ready(function(){
    $("input[type=search]").each(function(ev)
    {
        if(!$(this).val()) { 
       $(this).attr("placeholder", "Search");
    }
    });
  });
</script>