
<table  id="example" class="table table-striped date" id="example">
              <thead>
                <tr>
                  <th>Order No</th>
                  <th class="text-center">Order Date</th>
                  <th class="text-left">Supplier</th>
                  <th class="text-right">Total Quantity</th>
                  <th class="text-right">Amount</th>
                  <th class="th_send-preview">Preview</th>
                  
                </tr>
              </thead>
              <tbody>
              <%if @purchase_order.present?%>
              <%@purchase_order.map do |i|%>
                <tr>
                  <td><%=i["order_no"]%></td>
                  
                  <td class="text-center"><%=i["order_date"].to_date.strftime("%d-%m-%Y")%></td>
                  <td class="text-left"><%=i["supplier_code"]%></td>
                  <%total_item=[]%>
                  <%i["total_quantity"].map {|k| total_item << k.to_i}%>
                  <td class="text-right"><%=total_item.sum%></td>
                   <%amount=[]%>
                  <%i["amount"].map {|i|amount << ((i[0].to_i*i[1].to_f)+i[2].to_f)}%>
                  <td class="text-right"><%=amount.sum.round(2)%></td>
                  <td class="td_send-preview"><!-- <a href="read-mail.html" class="btn btn-link btn_pad">Preview</a> --><%=link_to "Preview",sendmails_order_details_path(order_no:i["order_no"],data:"po-report"),class: "btn btn-link btn_pad"%></td>
                </tr>
                 <%end%>
                    <%else%>
                 
                 <%end%>
              </tbody>
            </table>
          
  <script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable( {
          dom: 'Bfrtip',
          bSort:true,
          "pageLength": 13,
          buttons: [              
              {
                extend: 'excelHtml5',
                exportOptions: {
                 columns: [ 0, 1, 2, 3 ]
                }
              },
              {
                extend: 'pdfHtml5',
                exportOptions: {
                 columns: [ 0, 1, 2, 3 ]
                }
              },
              {
                extend: 'print',
                exportOptions: {
                 columns: [ 0, 1, 2, 3 ]
                }
              }
          ]
     


      } );
  } );

  </script>




      
<script type="text/javascript">
  $(document).ready(function(){
    $("input[type='search']").focus();
  });

  $(document).ready(function(){ 
    $("input[type=search]").each(function(ev)
    {
        if(!$(this).val()) { 
       $(this).attr("placeholder", "Search");
    }
    });
  });

</script> 




 
