<!DOCTYPE html>
 <html>
   <head>
    <link rel="stylesheet" href="/assets/user-assign.css">
   </head>
<body>
      <section>
        <div class="container-fluid user-assign">
          <header>
            <h3>Purchase Returns
            <%#if params["id"]=="report"%>
            <!-- <a href="/sendmails/settled_claims_report" class="btn btn-link float-right"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            
            <%#elsif params["id"]=="pendingreport"%>
            <a href="/sendmails/pending_claims_report" class="btn btn-link float-right"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            <%#elsif params["id"]=="settledreport"%>
            <a href="/sendmails/settled_claims_report" class="btn btn-link float-right"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            
             
            <%#elsif params["data"]=="return" %>
              <a href="/sendmails/purchase_return_claims" class="btn btn-link float-right"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
          
            <%#else%>
             <a href="/sendmails/sendmails_claims_purchase_return" class="btn btn-link float-right"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
             <%#end%> -->
            <!--  <span class="float-right">           
              <input placeholder="Search" class="" id="system-search" name="q" type="text">
             </span>  
             --></h3>
          </header>   
          
          <div class="card manufacturer purschase-order">
            <% if @pr_emails.present?%>
              <div class="mail-span">
                <label>To: </label>
                <%@pr_emails.map do |i|%>    
                <span><%= i["email"]%></span>
                <%end%>
              </div>
            <%end%>
          <div class="row order-address">
              <div class="col-md-4">
                <label>Claim Number: <span><%=@purchase_return_claims[0]["claim_no"] if @purchase_return_claims[0].present? %></span></label>
              </div> 
              <div class="col-md-4">
                <label>Claim Date: <span><%=@purchase_return_claims[0]["claim_date"].to_date.strftime("%d-%m-%Y") if @purchase_return_claims[0].present? && @purchase_return_claims[0]["claim_date"].present?%></span></label>
              </div> 
              <div class="col-md-4">
                  <label>Supplier Code: <span><%=@purchase_return_claims[0]["supplier_code"] if @purchase_return_claims[0].present? %></span></label>
              </div> 
          </div>
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>P.Code</th>
                    <th>Description & Packing</th>
                    <th class="text-right">Batch</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Free</th>
                    <th class="text-cenetr">Exp</th>
                    <th class="text-right">MRP</th>
                    <th class="text-right">Rate</th>
                    <th class="text-right">GST</th>
                    <th class="text-right">Claim Amount</th>                  
                    <th class="text-right">Settled Amount</th>                  
                    
                    <%@vat=[];@gross=[]%>
                   
                  </tr>
                </thead>
              <tbody class="scroll">
                <% @purchase_return_claims.map do |i| %>
                
                  <tr class="content">             
                    <td><%= i["product"]["hsn_code"] if i["product"].present? && i["product"]["hsn_code"].present?%> </td>
                    <td><%= i["item_description"] %> <%= i["packing"] %></td>
                    <td class="text-right"><%= i["batch"] %> </td>  
                    <td class="text-right"><%= i["quantity"] %> </td>  
                    <td class="text-right"><%= i["free_quantity"] %> </td> 
                    <td class="text-cenetr"><%= i["expiry_date"].to_date.strftime('%d-%m-%Y') %></td>
                    <td class="text-right"><%= i["mrp"].to_f.round(2) %> </td>
                    <td class="text-right"><%= i["rate"].to_f.round(2) %> </td>
                    <td class="text-right"><%= i["gst"].to_f.round(2) %> </td>
                    <td class="text-right"><%= i["claim_amount"].to_f.round(2) %> </td>
                    <td class="text-right"><%= i["settled_amount"].to_f.round(2) %> </td>
                  
                                                
                                               
                     </tr>
                <% end %>
            </tbody>
            </table>
      <div class="col-md-12">
<%@mrp=[]%>
      <div class="col-md-3">     
             <label style="font-weight: bold;">MRP: <span><%@purchase_return_claims.map{|i| @mrp<<(i["mrp"].to_f*i["quantity"].to_f)}%>&#8377;&nbsp;<%= ActionController::Base.helpers.number_to_currency(@mrp.sum, unit: "")%></span>
      </label>
      </div>


       <div class="col-md-3">     
             <label style="font-weight: bold;">Gross Amt: <span><%@purchase_return_claims.map{|i| @gross<<(i["quantity"].to_f*i["rate"].to_f)}%>&#8377;&nbsp;<%= ActionController::Base.helpers.number_to_currency(@gross.sum, unit: "")%></span>
      </label>
      </div>
       <div class="col-md-3">     
             <label style="font-weight: bold;">Vat Amt: <span><%@purchase_return_claims.map{|i| @vat<<i["gst"].to_f}%>&#8377;&nbsp;<%= ActionController::Base.helpers.number_to_currency(@vat.sum, unit: "")%></span>
      </label>
      </div>
          
       <div class="col-md-3">     
             <label style="font-weight: bold;">Total Amt: <span><%@purchase_return_claims.map{|i| @total<<i["claim_amount"].to_f}%>&#8377;&nbsp;<%= ActionController::Base.helpers.number_to_currency(@total.sum, unit: "")%></span>
      </label>
      </div>
       <div class="col-md-3">     
             <label style="font-weight: bold;">Settled Amt: <% @set_total=[]%> <span><%@purchase_return_claims.map{|i| @set_total<<i["settled_amount"].to_f}%>&#8377;&nbsp;<%= ActionController::Base.helpers.number_to_currency(@set_total.sum, unit: "")%></span>
      </label>
      </div>
      </div>

          </div>
          </div>
      </section>
        <div class="container-fluid">
          <nav aria-label="Page navigation example" id="page_slider">
           <h1>
           </h1> 
          </nav>          
        </div>             
        

</body>
</html>
<style type="text/css">
  select{
    width: 192px;
  }
</style>

<script type="text/javascript">$(document).ready(function(){
   $('select').change(function(){
         var value=($(this).val());
        
         
        $.ajax({
              type: "GET",
              url: "/manufacturers/manufacturer_list?id="+value
             })
        });        
    });
 </script>
