      <section class="user-edit">
        <div class="container-fluid">
          <header>
           <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
            <h3>WonderSoft-Connection</h3>
          </header>
        </div>
        <div class="container cont_pad">
        <%if @wondersoft_data.nil?%>
         <!-- create -->
          <div class="card card_edit">
          <%= form_for(:wondersoft , url: {controller:"syncsettings",action:"wondersoft_create"}, html: { class: "edit-form"}) do |f| %>
              <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="formGroupExampleInput">Username<span class="required">*</span></label>
                 <%= f.text_field :user_name, class: "form-control",name: "username", placeholder: "Username", required: "true"%>
               </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Password<span class="required">*</span></label>
                <%= f.text_field :password, class: "form-control",name: "password", placeholder: "Password", required: "true"%>
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Database/Name<span class="required">*</span></label>
                      <%= f.text_field :database_name, class: "form-control",name: "databasename", placeholder: "Sql Client", required: "true"%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Server Host/Name<span class="required">*</span></label>
                     <%= f.text_field :server_name, class: "form-control",name: "servername", placeholder: "190.190.200.100", required: "true"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Manual Sync Frequency<span class="required">*</span></label>
                      <%= f.text_field :manual_sync_time, class: "form-control",name: "manual_sync_time", placeholder: "10", required: "true"%>
                  </div>
                </div>
              </div>
                <footer class="form-footer">
                <%=f.submit "Save" , class: "btn btn-primary btn-one btn-lg"%>
                   
              </footer>
              <% end %>
          </div>

          <!-- create -->
<%else%>

          <!-- edit -->
             <div class="card card_edit">
               <%= form_for(:wondersoft, url: {controller:"syncsettings",action:"wondersoft_edit"}, html: { method: "put",class: "edit-form"}) do |f| %>
                <%=f.hidden_field 'id',:value=>@wondersoft_data["id"]  %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Username<span class="required">*</span></label>
                      <%= f.text_field :user_name, :value=>@wondersoft_data["user_name"], class: "form-control",name: "username", placeholder: "Username", required: "true"%>
                 </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password<span class="required">*</span></label>
                    <%= f.text_field :password,:value=>@wondersoft_data["password"], class: "form-control",name: "password", placeholder: "Password", required: "true"%>
                </div>
              </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <label class="form-control-label" for="formGroupExampleInput">Database/Name<span class="required">*</span></label>
                     <%= f.text_field :database_name,:value=>@wondersoft_data["database_name"],  class: "form-control",name: "databasename", placeholder: "Sql Client", required: "true"%>
                 </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Server Host/Name<span class="required">*</span></label>
                      <%= f.text_field :server_name,:value=>@wondersoft_data["server_name"],  class: "form-control",name: "servername", placeholder: "190.190.200.100", required: "true"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" for="formGroupExampleInput">Manual Sync Frequency<span class="required">*</span></label>
                        <%= f.text_field :manual_sync_time,:value=>@wondersoft_data["manual_sync_time"],  class: "form-control",name: "manual_sync_time", placeholder: "10", required: "true"%>
                    </div>
                  </div>
                </div>

              <footer class="form-footer">
                <%=f.submit "Save" , class: "btn btn-primary btn-one btn-lg"%>
              </footer>
              <% end %>
          </div>

          <!-- edit -->
          <%end%>
        </div>
      </section>
