<center> <div id="loading"></div> </center>

   <% if contact["id"].present? %>

      <%= form_for(:contacts, :url => {:controller => 'contacts',:action => 'contact_update', method: :put}) do |f| %> 

         <%=f.hidden_field 'id',:value=>@contact["id"]  %>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Contact Type:&nbsp;
                      <span><%=@contact["sub_contact_type"]%></span>
                    </label>
                  </div>
              </div>
              <div class="col-md-8">
                <div class="con"></div>              
              </div>              
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Name<span class="required">*</span></label>
                    <%= f.text_field :name,:value=>@contact["name"], class: "form-control" ,name: "name", required: "true",placeholder: "Contact Name"%>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email<span class="required">*</span></label>
                   <%= f.text_field :email,:value=>@contact["email"], class: "form-control" ,name: "email", required: "true", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$",placeholder: "Enter your Email"%>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Permanent Address<span class="required">*</span></label><%= f.text_field :address,:value=>@contact["address"], class:"form-control" ,name: "address",placeholder: "Address",required: "true"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" for="formGroupExampleInput">Mobile Number<span class="required">*</span></label><%= f.text_field :phone_number,:value=>@contact["phone_number"], class:"form-control" ,name: "phone_number", id: "quantity", required: "true",placeholder: "Mobile Number",maxlength: "10"%></div><div id="errmsg">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" for="formGroupExampleInput">Landline Number</label><%= f.text_field :landline_number,:value=>@contact["landline_number"], class:"form-control" ,name: "landline_number",placeholder: "landline number",maxlength: "15"%></div><div id="errmsg">
                </div>
              </div>
              
              <% if @contact["jobs_name_type"].to_s == "CfaTitle" %>
              <div class="col-md-4">
                <label>Promo Type<span class="required">*</span></label>                
                 <div class="form-group">
                   <div class="col-md-6">
                     <div class="d-inline-flex">     
                       <%= f.radio_button :jobs_name_type,"CfaTitle",class: "radio_cfa" ,  checked: true %>CFA
                     </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-inline-flex">
                        <%= f.radio_button :jobs_name_type ,"MarketingTitle",class: "radio_cfa"%>Marketing
                     </div>
                  </div>
                </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">CFA/Marketing<span class="required">*</span></label>
                    <%=select("contacts", "jobs_name_id", @cfa_data.collect {|p| [ p["job_name"], p["id"] ] },{:include_blank => "Please select",:selected=>@contact["jobs_name_id"]}, {class: "cfa_radio_button", required: "true"})%>
                  </div>
                </div>

            <%else%>
              <div class="col-md-4">
                <label>Promotype<span class="required">*</span></label>
                <div class="form-group">
                  <div class="col-md-6">
                    <div class="d-inline-flex">
                       <%= f.radio_button :jobs_name_type,"CfaTitle",class: "radio_cfa" %>&nbsp;CFA
                    </div>
                  </div>
                  <div class="col-md-6">
                     <div class="d-inline-flex">
                       <%= f.radio_button :jobs_name_type,"MarketingTitle",class: "radio_cfa" ,checked: true %>&nbsp;Marketing
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Cfa/Marketing<span class="required">*</span></label>
                    <%=select("contacts", "jobs_name_id", @marketing_data.collect {|p| [ p["job_name"], p["id"] ] },{:include_blank => "Please select",:selected=>@contact["jobs_name_id"]}, {class: "cfa_radio_button", required: "true"})%>
                 </div>
              </div>
                    <%end%>
                </div>
                
            

             
            <div class="row">
                <div id="ddmf" class="col-md-12">
                    <label class="form-control-label" for="formGroupExampleInput">Mail Allocation<span class="required">*</span></label>
                    <br>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="purchase_order" <%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("purchase_order").to_s == "true"%> checked <%end%><%end%>>&nbsp;Purchase Order
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="excess_stock" <%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("excess_stock").to_s == "true"%> checked <%end%><%end%>>&nbsp;Excess Stock
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="rate_change" <%unless @contact["mail_allocation"].nil?%> <%if @contact["mail_allocation"].split(",").include?("rate_change").to_s == "true"%> checked <%end%><%end%>>&nbsp;Claims(Rate Change) 
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="free_and_discounts" <%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("free_and_discounts").to_s == "true"%> checked <%end%><%end%>>&nbsp;Claims(Free and Discounts) 
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="expiry"<%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("expiry").to_s == "true"%> checked <%end%> <%end%>>&nbsp;Claims (Expiry/Broken) 
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="purchase_return"<%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("purchase_return").to_s == "true"%> checked <%end%> <%end%>>&nbsp;Claims (Purchase Return)
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="po_gr"<%unless @contact["mail_allocation"].nil?%><%if @contact["mail_allocation"].split(",").include?("po_gr").to_s == "true"%> checked <%end%> <%end%>>&nbsp;PO-GR Mismatch
                      </div>
                    </div>
                </div>
          </div>
          
            <footer class="form-footer">
                <%=f.submit "Update" , class: "btn btn-primary btn-one load", id: "con1"%>
                <%=link_to "Cancel",contacts_path , class: "btn btn-primary load", id: "con2"%>
              </footer>
            <% end %>
   <% else %>
           <%= form_for(contact, :url => {:controller => 'contacts', :action => 'create'}) do |f| %>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="">Name<span class="required">*</span></label>
                      <%= f.text_field :name, class: "form-control" ,name: "name", required: "true",placeholder: "Contact Name"%>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email<span class="required">*</span></label>
                      <%= f.text_field :email, class: "form-control" ,name: "email", required: "true", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$",placeholder: "Enter your Email"%>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Permanent Address<span class="required">*</span></label>
                      <%= f.text_field :address, class: "form-control" ,name: "address", required: "true",placeholder: "Address"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Mobile Number<span class="required">*</span></label>
                      <%= f.text_field :phone_number, class: "form-control" ,name: "phone_number", required: "true", id:"quantity",maxlength: "10",placeholder: "Mobile Number"%><div id="errmsg"></div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="formGroupExampleInput">Landline Number</label>
                    <%= f.text_field :landline_number, class:"form-control" ,name: "landline_number",placeholder: "landline number",maxlength: "15"%>
                  </div>
                  <div id="errmsg"></div>
                </div>

                <div class="col-md-4">
                 <label>Promo Type<span class="required">*</span></label>
                  <div class="form-group">
                    <div class="col-md-6">
                      <div class="d-inline-flex">
                        <%= f.radio_button :jobs_name_type,"CfaTitle",class: "radio_cfa" ,checked: true%>&nbsp;CFA
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-inline-flex">
                        <%= f.radio_button :jobs_name_type,"MarketingTitle",class: "radio_cfa" %>&nbsp;Marketing
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div id="CFA-id" class="form-group">
                      <label class="form-control-label" for="formGroupExampleInput">CFA/Marketing<span class="required">*</span></label>
                        <%=select("new contact", "jobs_name_id", @cfa_data.collect {|p| [ p["job_name"], p["id"] ] },{:include_blank => "Please select"}, {class: "cfa_radio_button",required: "true"})%>
                      </div>   
                    </div>      
              
                <div class="col-md-4">
                  <div class="form-group search">
                    <label class="form-control-label" for="formGroupExampleInput">Select Contact Type<span class="required">*</span></label>
                      <%= select_tag "sub_contact_type", options_for_select([["Supplier"],["Manufacturer"],["Division"]],:selected=> @contact["sub_contact_type"]),{include_blank: "Select",class: "contavtttt",required: "true"}%>
                  </div>
                </div>  
                <div class="col-md-4">
                  <div class="form-group searchcon">
                    <label class="form-control-label" for="formGroupExampleInput">Search Contact</label>
                    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search" title="Type in a name">
                  </div>                
                  

                  
                </div>                
              </div>

               <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="con">
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div id="ddmf" class="col-md-12">
                  <label class="form-control-label" for="formGroupExampleInput">Mail Allocation<span class="required">*</span></label>
                  <br>
                  <div class="col-sm-6 col-md-3 form-group">
                    <div class="d-inline-flex">
                      <input type="checkbox" name="mail[]" value="purchase_order">&nbsp;Purchase Order 
                    </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                    <div class="d-inline-flex">
                        <input type="checkbox" name="mail[]" value="excess_stock">&nbsp;Excess Stock
                    </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                    <div class="d-inline-flex">
                       <input type="checkbox" name="mail[]" value="rate_change">&nbsp;Claims(Rate Change) 
                    </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                    <div class="d-inline-flex">
                      <input type="checkbox" name="mail[]" value="free_and_discounts">&nbsp;Claims(Free and Discounts) 
                    </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                    <div class="d-inline-flex">
                      <input type="checkbox" name="mail[]" value="expiry">&nbsp;Claims (Expiry/Broken) 
                    </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                   <div class="d-inline-flex">
                     <input type="checkbox" name="mail[]" value="purchase_return">&nbsp;Claims (Purchase Return)
                   </div>                    
                  </div>
                  <div class="col-sm-6 col-md-3 form-group">
                   <div class="d-inline-flex">
                     <input type="checkbox" name="mail[]" value="po_gr">&nbsp;PO-GR Mismatch
                   </div>                    
                  </div>
<!--                     <ul class="list-unstyled"> -->
<!--                       <li>
                          <div class="d-flex">
                            <input type="checkbox" name="mail[]" value="purchase_order">&nbsp;Purchase Order 
                          </div>
                      </li> -->
<!--                       <li>
                          <div class="d-flex">
                              <input type="checkbox" name="mail[]" value="excess_stock">&nbsp;Excess Stock
                          </div>
                            </li> -->
<!--                             <li>
                            <div class="d-flex">
                               <input type="checkbox" name="mail[]" value="rate_change">&nbsp;Claims(Rate Change) 
                            </div>
                            </li> -->
<!--                             <li>
                            <div class="d-flex">
                              <input type="checkbox" name="mail[]" value="free_and_discounts">&nbsp;Claims(Free and Discounts) 
                            </div>
                           </li> -->

<!--                            <li>
                            <div class="d-flex">
                              <input type="checkbox" name="mail[]" value="expiry">&nbsp;Claims (Expiry/Broken) 
                            </div>
                           </li> -->
                           
<!--                            <li>
                             <div class="d-flex">
                               <input type="checkbox" name="mail[]" value="purchase_return">&nbsp;Claims (Purchase Return)
                             </div>
                           </li> -->
                           
<!--                            <li>
                             <div class="d-flex">
                               <input type="checkbox" name="mail[]" value="po_gr">&nbsp;PO-GR Mismatch
                             </div>
                           </li> -->
                          
<!--                           </ul> -->
                      </div>              
            </div>

  
                
             <footer class="form-footer">
             <%=f.submit "Save" , class: "btn btn-primary btn-one load", id: "con3"%>

             <%=link_to "Cancel",contacts_path , class: "btn btn-primary load", id: "con4"%>
            </footer>
      
      <% end %>
   <% end %>







<script type="text/javascript">
$(document).ready(function(){
    $(".radio_cfa").change(function(){
      var value=($(this).val());
      
        $.ajax({
              type: "GET",
              url: "/contacts/cfa_radio_dropdown."+value
             })
        });
  });

</script>

<script type="text/javascript">
$(document).ready(function () {
  //called when key is pressed in textbox
  $("#quantity").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
        $("#errmsg").html("Digits Only").show().fadeOut("slow");
               return false;
    }
   });
});

</script>
<style type="text/css">
  #errmsg
{
color: red;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    $(".contavtttt").change(function(){
       $(".overlay").show();
      var id=$('.contavtttt option:selected').val();
        var value=$('.contavtttt option:selected').val();
        $.ajax({
              type: "GET",
              url: "/contacts/contacts_selection."+value,
              data: {format: id, type: value},
              dataType: 'script',
              success: function(data) {

            // setTimeout added to show loading
            setTimeout(function () {
 $(".overlay").hide();
                            
            });
        }
             })
        });
  });

</script>

<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        url: "/contacts/selection_update",
        data: {format: "<%=contact["id"]%>", type: "<%=contact["sub_contact_type"]%>"},
        dataType: 'script'
    });  
    $(".conupdate").change(function(){
      var value=($(this).val());
        $.ajax({
        url: "/contacts/selection_update",
        data: {format: <%=contact["id"]%>, type: value},
        dataType: 'script'
    })

    });
 
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
$('.searchcon').hide();
$('.search').change(function() {

$('.searchcon').show();
}); });
</script>



