<section>
        <div class="container-fluid user-assign">
          <header>
                 <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
            <h3>GRN Compared For:<%=params["order_no"]%>
              <span class="float-right">
                <a href=""><button type="submit" class="btn btn-link"><i class="fa fa-send"></i> Send Mail</button></a>
              </span>
           </h3>
          </header>
         
          <div class="card_hg">
            <table class="table table_front table-striped">
              <thead>
                <tr>
                  <th class="th_sno">Product</th>
                  <th class="th_grnum">GR Number</th>
                  <th class="th_supplier">Supplier</th>
                  <th class="th_poqty">PO Qty</th>
                  <th class="th_grqty">GR Qty</th>
                  <th class="th_excessqty">Excess Qty</th>
                  <th class="th_selectall">
                    <label class="li_list" name="check all" for="checkall">
                        <input type="checkbox"  name="check all" id="checkall">
                        <!--span class="fake-input"></span-->
                        <span class="fake-label"></span>
                    </label>
                    <label class="check_all">Check all</label>                    
                  </th>
                </tr>
              </thead>
              <tbody class="scroll">
               <%@response_data.map do |i|%>
                <tr>
                  <th class="td_sno" scope="row"><%=i["product_name"]%></th>
                  <td class="td_grnum"><%=i["product_code"]%></td>
                  <td class="td_supplier"><%=i["supplier_name"]%></td>
                  <td class="td_poqty"><%=i["po_qty"]%></td>
                  <td class="td_grqty"><%=i["gr_qty"]%></td>                  
                  <td class="td_excessqty"><%= -(i["po_qty"].to_i - i["gr_qty"].to_i)%></td>                  
                  <td class="td_selectall">
                    <label class="li_list" name="check1" for="check1">
                        <input type="checkbox"  class="case" name="check all" id="check1">
                        <!--span class="fake-input"></span-->
                        <span class="fake-label"></span>
                    </label>                    
                  </td>
                </tr>
							<%end%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container-fluid">
          <nav aria-label="Page navigation example" id="page_slider">
           <h1>Page 1 of 5            
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
           </h1> 
          </nav>          
        </div>        
        </section>